
rofi.separator-style:   solid
rofi.font:              Roboto Condensed 18
rofi.color-enabled:     true
rofi.padding:           50
rofi.line-margin:       5
rofi.lines:             5
rofi.width:             700
rofi.disable-history:   true
rofi.modi:              keys,drun,window,run
rofi.sidebar-mode:      true
rofi.fullscreen:        false

           
           rofi.color-normal: #777674,  #ffffff,  #777674,  #4e5659,  #ffffff
           rofi.color-urgent: #777674,  #d14542,  #777674,  #d14542,  #777674
           rofi.color-active: #777674,  #2a3d42,  #777674,  #2a3d42,  #777674

           
           rofi.color-window: #777674,      #777674,  #777674

